---
import SceneLayout from '@/layouts/SceneLayout.astro';
import Scene from '@/components/Scene';
---

<SceneLayout title="Welcome to Astro.">
	<div class="overflow-hidden">
		<Scene client:load />
	</div>
</SceneLayout>
