---
import { Image } from "astro:assets";

const currentPath = Astro.request.url;

const menuArr = [
    {path: '/projects', name: "Projects"},
    {path: '/blog', name: "Blog"},
    {path: '/about', name: "About"},
]
---

<div class="h-16 w-full flex sticky top-0 z-10 bg-white dark:bg-black">
    <div class="flex justify-center items-center">
        <a href="/" class="dark:hidden">
            <Image src="/images/logo/logo-light.png" alt="x" width={60} height={60} loading="eager"/>
        </a>
        <a href="/" class="hidden dark:block">
            <Image src="/images/logo/logo-dark.png" alt="x" width={60} height={60} loading="eager"/>
        </a>
    </div>
    <div class="flex-1">
        <div class="h-full flex justify-center items-center gap-8 relative">
            {
                menuArr.map((item) => (
                    <div class="relative">
                        <a href={item.path} class={`${currentPath.includes(item.path) ? "font-bold text-primary" : ""}`}>{item.name}</a>
                        {currentPath.includes(item.path) && <div class="absolute -bottom-3 w-full text-center text-4xl text-primary">.</div>}
                    </div>
                ))
            }
        </div>
    </div>
    <div class="flex justify-center items-center">
        <button id="theme-toggle">
            <div class="dark:hidden">🌙</div>
            <div class="hidden dark:block">☀️</div>
        </button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const themeToggleButton = document.getElementById('theme-toggle');
      const htmlElement = document.documentElement;
      const currentTheme = localStorage.getItem('theme');
      
      if (currentTheme === 'dark') {
        htmlElement.classList.add('dark');
      }
  
      themeToggleButton?.addEventListener('click', function() {
        htmlElement.classList.toggle('dark');
        let theme = 'light';
        if (htmlElement.classList.contains('dark')) {
          theme = 'dark';
        }
        localStorage.setItem('theme', theme);
      });
    });
  </script>