---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import NavbarLayout from "@/layouts/NavbarLayout.astro";

const projects = await getCollection('project');

const mergedTags = [...new Set(projects.map((item) => item.data.tags).flat())];

const capitalizeFirstWord = (text: string): string => {
  return text.replace(/\b\w/g, (char) => char.toUpperCase());
};

---

<NavbarLayout title="List Projects">
    <div class="text-6xl font-bold py-8">Project</div>
    <div class="grid  gap-6 pb-10 md:grid-cols-2">
        {
            projects.map((item) => (
                <div class="size-full rounded-md shadow-sm p-2 border-[1px] dark:border-gray-800">
                    <div class="h-72 overflow-hidden rounded-md border-[1px] relative dark:border-none">
                        <Image src={item.data.imageSrc} alt="x" width={200} height={200} class='size-full object-cover' />
                        <div class="flex gap-2 absolute bottom-2 left-2">
                            {
                                item.data.tags.map((el: string) => (
                                    <div class="bg-white border-gray-600 px-2 py-1 rounded-md text-xs shadow-sm dark:bg-gray-800">{capitalizeFirstWord(el)}</div>
                                ))
                            }
                        </div>
                    </div>
                    <div class="p-2 space-y-2 h-36 flex flex-col">
                        <div class="text-2xl font-bold">{item.data.title}</div>
                        <div class="text-sm flex-1 line-clamp-2">{item.data.desc}</div>
                        <div class="flex gap-2 underline ">
                            <a href="" class="hover:text-primary">visit site</a>
                            <a href="" class="hover:text-primary">source code</a>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</NavbarLayout>