---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import NavbarLayout from "@/layouts/NavbarLayout.astro";

const projects = await getCollection('project');

const mergedTags = [...new Set(projects.map((item) => item.data.tags).flat())];

const capitalizeFirstWord = (text: string): string => {
  return text.replace(/\b\w/g, (char) => char.toUpperCase());
};

---

<NavbarLayout title="List Projects">
    <div class="text-6xl font-bold py-8">Project</div>
    <div class="grid  gap-6 pb-10 md:grid-cols-3">
        {
            projects.map((item) => (
                <div>
                    <div class="w-full h-52 rounded-md overflow-hidden dark:border-gray-800">
                        <Image src={item.data.imageSrc} alt="x" width={200} height={200} class='size-full object-cover'/>
                    </div>
                    <div class="py-2">
                        <div class="font-semibold">{item.data.title}</div>
                        <div></div>
                    </div>
                </div>
            ))
        }
    </div>
</NavbarLayout>